
/* Route View Style */
.route-modal {
  --info-container-height: calc(var(--modal-height) - var(--title-height) - var(--map-height));
  --modal-width: calc(95vw - constant(safe-area-inset-left) - constant(safe-area-inset-right));
  --modal-width: calc(95vw - env(safe-area-inset-left) - env(safe-area-inset-right));
  --modal-height: calc(85vh - constant(safe-area-inset-top) - constant(safe-area-inset-bottom));
  --modal-height: calc(85vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  --map-height: calc(var(--modal-height) * 0.7 - var(--title-offset-top));
  --navbar-height: calc(2.75rem + 10px);
  --title-height: 82px;
  --title-offset-top: 0px;
}
@keyframes route-breathe {
  from, to { opacity: 1; }
  50% { opacity: 0.25; }
}
@keyframes route-blink {
  from, to { background-color:rgb(110, 110, 110); }
  50% { background-color:rgba(105, 105, 105, 0.375); }
}
@keyframes route-blink-green {
  from, to { background-color:rgba(32, 117, 32, 1); }
  50% { background-color:rgba(32, 117, 32, 0.375); }
}
@keyframes route-blink-yellow {
  from, to { background-color:rgba(87, 134, 0, 1); }
  50% { background-color:rgba(87, 134, 0, 0.375); }
}
@keyframes route-blink-orange {
  from, to { background-color:rgba(161, 152, 24, 1); }
  50% { background-color:rgba(161, 152, 24, 0.375); }
} 
@keyframes route-blink-red {
  from, to { background-color:rgba(131, 86, 28, 1); }
  50% { background-color:rgba(131, 86, 28, 0.375); }
}
@keyframes route-blink-brown {
  from, to { background-color:rgba(100, 15, 0, 1); }
  50% { background-color:rgba(100, 15, 0, 0.375); }
}
.route-arriving-list li {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
  margin: 0.125rem 0;
}
.route-bus-marker {
  width: 20px;
  height: 20px;
  z-index: 3000;
}
.route-bus-marker.moving {
  animation: route-breathe 2s linear infinite;
  -webkit-animation: route-breathe 2s linear infinite;
}
#route-bus-map {
  height: var(--map-height);
  width: var(--modal-width);
  position: fixed;
}
#route-bus-map ~ .route-main-info-container {
  height: calc(var(--modal-height) * 0.8);
  overflow: hidden;
  top: calc(var(--modal-height) * 0.7);
  position: relative;
}
#route-bus-map ~ .route-main-info-container .route-navbar {
  position: absolute;
  width: 100%;
}
#route-bus-map ~ .route-main-info-container .route-bus-info-container {
  padding-top: var(--navbar-height);
  padding-bottom: 10px;
  height: var(--info-container-height);
  overflow-y: auto;
  overflow-x: hidden;
}
.route-bus-info {
  overflow: hidden;
}
.route-bus-info ul {
  list-style: none;
  margin-bottom: 0;
}
.route-bus-info-container {
  overflow: auto;
  background-color: #efefef;
  position: relative;
  z-index: 2000;
  scroll-behavior: smooth;
}
.route-bus-title {
  height: var(--title-height);
  padding: 0 22.5px;
  display: flex;
  align-items: center;
  background-color: #efefef;
  position: sticky;
  top: 0;
  z-index: 2000;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
}
.route-bus-title .bus {
  padding: 15px 12px !important;
}
.route-bus-title .bus .h5 span, .route-bus-title .bus .h6 span{
  color: #111 !important;
}
#route-changedirection-icon {
  display: block;
}
/* #route-changedirection-text {
  display: block;
} */
.route-destination {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}
.route-destination svg {
  width: 1rem;
  height: 1rem;
}
details[open] summary .route-station-dot {
  transform: scale3d(1.5,1.5,1);
}
details[open] summary .route-station-line {
  height: 400px;
}
details[open] .last .route-station-line {
  background-color: #ddd !important;
}
details[open] .route-station-bus-icon {
  transform: scale3d(1.1,1.1,1);
}
details[open] .route-station-bus-icon.moving {
  visibility: hidden;
}
.route-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0 !important;
  max-width: 100%;
}
.route-info svg {
  width: 1.25rem;
  height: 1.25rem;
}
.route-info-box {
  width: 70vw;
  height: fit-content;
  max-height: 40vh;
}
.route-info-box > * {
  padding: 10px;
}
.route-info-box .route-header {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.route-info-box h5 {
  margin-bottom: 0 !important;
}
.route-info-box ul {
  list-style: none;
  padding-left: 0;
}
.route-left {
  position: relative;
  z-index: 2500;
  margin-left: -2rem !important;
}
.route-left img {
  position: absolute;
  top: calc(1rem*1.5 - 20px);
  left: calc(1rem/3);
  width: 20px;
  animation: route-breathe 2s linear infinite;
}
.route-left span {
  margin-left: 2rem;
}
.route-live {
  transform: scale(0.9);
  color: white;
}
.route-live {
  animation: route-blink 15s linear infinite;
  -webkit-animation: route-blink 15s linear infinite;
}
.route-live.green {
  animation: route-blink-green 15s linear infinite;
  -webkit-animation: route-blink-green 15s linear infinite;
}
.route-live.yellow {
  animation: route-blink-yellow 15s linear infinite;
  -webkit-animation: route-blink-yellow 15s linear infinite;
}
.route-live.orange {
  animation: route-blink-orange 15s linear infinite;
  -webkit-animation: route-blink-orange 15s linear infinite;
}
.route-live.red {
  animation: route-blink-red 15s linear infinite;
  -webkit-animation: route-blink-red 15s linear infinite;
}
.route-live.brown {
  animation: route-blink-brown 15s linear infinite;
  -webkit-animation: route-blink-brown 15s linear infinite;
}
.route-loading {
  margin: 2rem 0;
  text-align: center;
  width: 100%;
  height: auto;
}
#route-main-route-view > .container {
  padding-top: 1vw;
}
.route-map-important-station {
  padding: 4px 6px;
  border-radius: 10px;
  border: 2px solid #fff;
  z-index: 2500;
  color: white;
  font-size: 14px;
  box-shadow: 0 0 10px #00000011;
  display: block !important;
  min-width: 16px;
  min-height: 16px;
  background-color: #1c7dca;
}
.route-map-important-station span {
  display: none;
}
.route-map-important-station span.shown {
  display: block;
}
.route-map-important-station.origin {
  z-index: 3200;
  background-color: rgb(37, 192, 37);
}
.route-map-important-station.destination {
  z-index: 3200;
  background-color: orangered;
}
.route-map-station {
  width: 18px;
  opacity: 0;
  transition: opacity 0.1s linear;
  z-index: 2500;
}
.route-map-station.shown {
  width: 18px;
  opacity: 1;
}
.route-modal {
  width: var(--modal-width);
  height: var(--modal-height);
  padding: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: auto;
  display: block;
}
.route-modal::-webkit-scrollbar {
  display: none;
}
.route-modal .mapboxgl-canvas {
  height: var(--map-height);
}
.route-navbar {
  display: flex;
  padding: 8px 5px;
  position: sticky;
  justify-content: space-between;
  top: -1px;
  height: calc(2.75rem + 10px);
  background-color: #efefef77;
  z-index: 3000;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
.route-navbar > * {
  margin: 0 5px;
}
.route-navbar .route-header.h5 {
  font-size: 1rem;
  display: flex;
  opacity: 0;
}
/* .route-navbar.stuck #route-changedirection-icon {
  display: block;
}
.route-navbar.stuck #route-changedirection-text {
  display: none;
} */
.route-navbar.stuck .route-header.h5 {
  opacity: 1;
}
.route-navbar.stuck .route-navbar-title {
  opacity: 1;
}
.route-navbar-bus {
  font-size: 0.7rem;
  padding: 0;
  padding-top: 0.4rem !important;
  margin: 0px 0;
  height: 2.25rem;
  width: 2.25rem;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
}
.route-navbar-bus.blue {
  background-image: url("../images/icons/blue-bus.png");
}
.route-navbar-bus.orange {
  background-image: url("../images/icons/orange-bus.png");
}
.route-navbar-bus > * {
  color: #000;
}
.route-navbar-title {
  display: flex;
  justify-content: center;
  transition: opacity 0.075s linear !important;
  opacity: 0;
  overflow: hidden;
}
.route-navbar-title > * {
  margin-top: 2px;
}
.route-options {
  margin-left: auto;
}
.route-option-buttons {
  display: flex;
  flex-direction: row;
}
.route-option-buttons > * {
  margin-left: 10px;
  padding: .25rem .5rem;
  font-size: 1rem;
}
#route-shadow {
  width: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 1500;
  right: 0;
  transition: all 0.25s linear 0s;
  pointer-events: none;
  visibility: hidden;
}
#route-shadow.route-shadow-shown {
  visibility: visible;
  pointer-events: auto;
  backdrop-filter: brightness(0.5);
  -webkit-backdrop-filter: blur(5px) brightness(0.5);
}
.route-station-bus-icon {
  transition: transform 0.1s linear;
  transform: scale3d(1,1,1);
  position: absolute;
  top: 15px;
  left: calc(6px + (1rem/1.5/2));
  z-index: 3000;
  width: 18px;
  height: 18px;
}
.route-station-bus-icon span {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 9px;
  font-size: 12px;
  line-height: 14px;
  z-index: 3000;
  text-align: center;
}
.route-station-bus-icon img {
  position: relative;
  width: 18px;
  height: 18px;
  z-index: 3000;
}
.route-station-bus-icon.moving {
  top: calc(15px + (1.5rem + 30px) / 2);
  animation: route-breathe 2s linear infinite;
  -webkit-animation: route-breathe 2s linear infinite;
}
.route-station-bus-icon.blue span {
  border: 1.5px solid #276299;
  color: #276299;
}
.route-station-bus-icon.orange span {
  border: 1.5px solid #c26c32;
  color: #c26c32;
}
.route-suspended {
  position: absolute;
  right: 1.5rem;
  font-size: 0.8rem;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  background-color: orangered;
  color: white;
}
.route-time-remaining {
  padding-left: .75rem;
  padding-right: .75rem;
  border-radius: .5rem;
}
.route-traffic {
  position: relative;
}
.route-traffic .route-station-name {
  position: relative;
  margin-left: calc(2rem - (1rem / 1.5) - 10px);
}
.route-traffic .route-station-dot {
  display: inline-block;
  position: relative;
  z-index: 2200;
  width: calc(1rem/1.5);
  height: calc(1rem/1.5);
  transform: scale3d(1,1,1);
  transition: transform 0.1s linear;
  background-color: #aaa;
  border-radius: 20px;
  border: 1.5px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.route-traffic .route-station-dot.hidden {
  visibility: hidden;
}
.route-traffic .route-station-dot circle {
  color: #222;
  stroke: #00000022;
  stroke-width: 2px;
}
.route-traffic .route-station-line {
  position: absolute;
  width: 3.5px;
  height: calc(1.5rem + 30px);
  top: calc((1.5rem + 30px)/2);
  left: calc(13.25px + (1rem/1.5/2));
  z-index: 2100;
  transition: background-color 0.2s linear;
  box-shadow: 0 0 1px rgba(83, 83, 83, 0.1);
}
.route-traffic .route-station-line {
  background-color: rgb(109, 109, 109)
}
.route-traffic.green .route-station-line {
  background-color: rgb(58, 204, 0);
}
.route-traffic.yellow .route-station-line {
  background-color: rgb(153, 200, 0);
}
.route-traffic.orange .route-station-line {
  background-color: rgb(209, 188, 0);
}
.route-traffic.red .route-station-line {
  background-color: rgb(214, 132, 0);
}
.route-traffic.brown .route-station-line {
  background-color: rgb(199, 0, 0);
}
.route-traffic.last .route-station-line {
  transition: background-color 0.25s ease !important;
  background-color: #efefef;
  height: calc((1.5rem + 30px)/2);
  box-shadow: none !important;
}
.route-traffic.last ~ ul {
  margin-bottom: 1.5rem;
}
ul {
  margin-top: 1rem;
  padding-left: calc(2rem + 5px);;
}

@media (prefers-color-scheme: dark) {
  
  /* Route View Style */
  .route-bus-title, .modal, .route-bus-info-container {
    background-color: #222;
  }
  details[open] .last .route-station-line {
    background-color: #333 !important;
  }
  .route-navbar {
    background-color: #222222aa;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
  .route-traffic .station-dot circle {
    color: white;
  }
  .route-traffic .route-station-line {
    background-color: rgb(87, 87, 87);
  }
  .route-traffic.green .route-station-line {
    background-color: rgb(0, 116, 0);
  }
  .route-traffic.yellow .route-station-line {
    background-color: rgb(91, 124, 0);
  }
  .route-traffic.orange .route-station-line {
    background-color: rgb(129, 127, 0);
  }
  .route-traffic.red .route-station-line {
    background-color: rgb(126, 78, 0);
  }
  .route-traffic.brown .route-station-line {
    background-color: rgb(126, 15, 0);
  }
  .route-traffic.last .route-station-line {
    background-color: #222 !important;
  }
  .route-map-important-station.origin {
    background-color: rgb(14, 138, 14);
  }
  .route-map-important-station.destination {
    background-color: rgb(149, 42, 23);
  }
}