@keyframes bounce {
  0% {transform: scale3d(1,1,1)}
  16% {transform: scale3d(0.9,0.9,1)}
  84% {transform: scale3d(1.15,1.15,1)}
  100% {transform: scale3d(1,1,1)}
}
#station-view {
  overflow-y: auto;
  padding-top: calc(var(--view-height) - 1.5rem - 24px);
}
#station-map {
  position: fixed;
  min-height: var(--view-height);
  width: 100vw;
  top: calc(constant(safe-area-inset-top) + 25px + 1.2rem);
  top: calc(env(safe-area-inset-top) + 25px + 1.2rem);
}
#station-map .station-marker {
  width: 18px;
  height: 18px;
  background-color: rgb(255, 70, 70);
  border-radius: 9px;
  border: 2px solid rgb(255, 255, 255);
  transition: opacity 0.25s linear;
}
#station-map .center {
  opacity: 1;
  width: 22px;
  height: 22px;
  background-color: rgb(0, 149, 25);
  border-radius: 11px;
  border: 3px solid rgb(255, 255, 255);
}
.station-info-list {
  position: absolute;
  width: 100%;
  min-height: 10%;
  left: 0;
  right: 0;
  margin: auto;
  transition: top 0.5s ease;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px) brightness(0.5);
  -webkit-backdrop-filter: blur(10px) brightness(0.5);
  filter: brightness(0.75);
  width: 100vw;
  box-shadow: inset 0 0 40px 40px rgba(255, 255, 255, 0.8);
}
.station-info-list.loaded {
  filter: brightness(1);
}
.station-info-list nav {
  position: sticky;
  top: calc(0px - var(--view-height) + 48px);
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 90;
}
.station-info-list nav span {
  display: inline-block;
  padding: .75rem 1rem;
  filter: brightness(0.5);
  background-color: rgb(71, 71, 71);
  text-align: center;
}
.station-info-list nav span.active {
  filter: brightness(1);
}
.station-info-list .no-station {
  padding: 1rem;
}
.station-info-list .main-list details summary {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}
.station-info-list .title {
  display: flex;
  align-items: center;
}
.station-info-list .title-code {
  font-size: 1.25rem;
  color: white;
  background-color: rgb(153, 38, 38);
  padding: 6px;
  line-height: 1;
  border-radius: 5px;
}
.station-info-list .title-name {
  font-size: 1.1rem;
  margin-left: 7.5px;
}
.station-info-list .lane {
  margin-left: auto;
}
.mapboxgl-ctrl-top-left {
  display: flex;
}
@media (prefers-color-scheme: dark) {
  .station-info-list {
    background-color: rgba(31, 31, 31, 0.6);
    box-shadow: 0 0 70px 70px rgba(31, 31, 31, 0.6);
  }
}