/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
:root {
  --padding-bottom: calc(max(constant(safe-area-inset-bottom), 5px) + 52px);
  --padding-bottom: calc(max(env(safe-area-inset-bottom), 5px) + 52px);
  --view-height: calc(100vh - constant(safe-area-inset-top) - max(env(safe-area-inset-bottom), 5px) - 52px - 25px - 1.2rem);
  --view-height: calc(100vh - env(safe-area-inset-top) - max(env(safe-area-inset-bottom), 5px) - 52px - 25px - 1.2rem);
}
* {
  box-sizing: border-box;
  outline: none !important;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#app {
  width: 100%;
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#app::-webkit-scrollbar {
  display: none;
}
.align-middle {
  display: flex;
  align-items: center;
  flex-direction: row;
}
body,#root {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(229,229,234);
}
.btn,.btn:hover,.btn * {
  color: rgb(0,122,255);
  transition: opacity 0.15s linear;
}
.btn:active {
  opacity: 0.45;
}
code {
  color: white;
  padding: 2px 5px;
  border-radius: 2px;
}
code.blue {
  background-color: #276299;
}
code.orange {
  background-color: #c26c32;
}
h1 {
  font-weight: bold !important;
}
html {
  height: 100vh;
}
code.lane {
  position: relative;
  top: -1px;
  background-color: rgb(87, 87, 87);
  margin-left: 5px;
}
code.lane.M1.A {
  background-color: rgb(202, 24, 24);
}
code.lane.M1.B {
  background-color: rgb(223, 89, 0);
}
code.lane.M1.C {
  background-color: rgb(255, 208, 0);
  color: black;
}
code.lane.M1.D {
  background-color: rgb(57, 131, 14);
}
code.lane.M1.E {
  background-color: rgb(24, 86, 202);
}
code.lane.M1.F {
  background-color: rgb(184, 23, 98);
}
code.lane.M18.A {
  background-color: rgb(202, 24, 24);
}
code.lane.M18.B {
  background-color: rgb(255, 217, 0);
  color: black;
}
code.lane.M18.C {
  background-color: rgb(55, 100, 42);
}
code.lane.M18.D {
  background-color: rgb(15, 119, 189);
}
code.lane.M172.A {
  background-color: rgb(255, 173, 173);
  color: black;
}
code.lane.M20.A {
  background-color: rgb(33, 89, 180);
}
code.lane.M20.B {
  background-color: rgb(209, 47, 47);
}
code.lane.M20.C {
  background-color: rgb(55, 100, 42);
}
code.lane.M172.B {
  background-color: rgb(18, 85, 192);
}
code.lane.M172.C {
  background-color: rgb(35, 136, 44);
}
code.lane.M172.D {
  background-color: rgb(255, 217, 0);
  color: black;
}
code.lane.M239.A {
  background-color: rgb(163, 95, 5);
}
code.lane.M239.B {
  background-color: rgb(33, 114, 180);
}
code.lane.M172.E {
  background-color: rgb(138, 90, 0);
}
code.lane.M172.F {
  background-color: rgb(136, 24, 180);
}
code.lane.M172.G {
  background-color: rgb(122, 5, 5);
}
code.lane.M172.H {
  background-color: rgb(114, 213, 226);
  color: black;
}
code.lane.T326.A {
  background-color: rgb(195, 75, 75);
}
code.lane.T326.B {
  background-color: rgb(0, 119, 20);
}
code.lane.T345.A {
  background-color: rgb(204, 99, 30);
}
code.lane.T345.B {
  background-color: rgb(14, 129, 195);
}
code.lane.T408.A {
  background-color: rgb(0, 119, 20);
}
code.lane.T408.B {
  background-color: rgb(138, 0, 96);
}
code.lane.T408.C {
  background-color: rgb(221, 88, 0);
}
code.lane.T408.D {
  background-color: rgb(11, 112, 170);
}
code.lane.T408.E {
  background-color: rgb(87, 87, 87);
}
code.lane.T408.F {
  background-color: rgb(202, 14, 92);
}
code.lane.T550.A {
  background-color: rgb(0, 119, 20);
}
code.lane.T550.B {
  background-color: rgb(161, 0, 0);
}
code.lane.C690.A {
  background-color: rgb(0, 119, 20);
}
code.lane.C690.B {
  background-color: rgb(195, 75, 75);
}
.mapboxgl-marker, .mapboxgl-control-container > * {
  -webkit-transform: translateZ(0px);
  -webkit-transform-style: preserve-3d;
}
.modal {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 300vh;
  bottom: 0;
  transition: top 0.375s ease;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 3rem;
  z-index: 2000;
}
.modal.shown {
  top: 0;
}
#no-internet-error {
  display: flex;
  height: 30vh;
  width: 70vw;
  padding: 5rem;
  align-items: center;
}
.notifs {
  position: fixed;
  bottom: -100px;
  padding: 7.5px;
  padding-left: calc(7.5px + constant(safe-area-inset-left));
  padding-right: calc(7.5px + constant(safe-area-inset-right));
  padding-left: calc(7.5px + env(safe-area-inset-left));
  padding-right: calc(7.5px + env(safe-area-inset-right));
  width: 100%;
  transition: bottom 0.5s ease;
  z-index: 9999;
}
.notifs.shown {
  bottom: var(--padding-bottom);
}
.notifs-container {
  display: flex;
  background-color: rgba(255,255,255,0.8);
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  justify-content: space-between;
  padding: 1rem;
  line-height: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.notifs-container * {
  margin: 0;
  padding: 0;
}
summary {
  list-style: none;
  padding: 10px 15px;
  opacity: 1;
  transition: background-color 0.1s linear;
}
summary::-webkit-details-marker {
  display: none;
}
summary .route-station-line {
  display: inline-block;
}
.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab > * {
  margin: 2px 0;
}
.tab.active {
  color: rgb(46, 155, 46);
  font-weight: bold;
}
.tabs {
  font-size: 12px;
  color: #aaa;
  width: 100%;
  padding-top: 5px;
  padding-bottom: max(constant(safe-area-inset-bottom), 5px);
  padding-bottom: max(env(safe-area-inset-bottom),5px);
  background-color: #ffffffaa;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-top: 1px solid #00000022;
  margin-left: 0 !important;
}
.view {
  display: none;
  margin-bottom: calc(constant(safe-area-inset-top) + 57px);
  margin-bottom: calc(env(safe-area-inset-top) + 57px);
  margin-top: calc(constant(safe-area-inset-top) + 25px + 1.2rem);
  margin-top: calc(env(safe-area-inset-top) + 25px + 1.2rem);
  min-height: var(--view-height);
  position: relative;
}
.view.active {
  display: block;
}
.view-header-top {
  padding: 60px 7.5px 12.5px;
  padding-top: calc(constant(safe-area-inset-top) + 12.5px);
  padding-top: calc(env(safe-area-inset-top) + 12.5px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #00000022;
  background-color: #ffffffaa;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
.view-header-top > * {
  /* margin-left: 10px; */
  margin-bottom: 0;
}
/* Global Mapbox Style */
.mapboxgl-map {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.mapboxgl-marker:hover {
  cursor: pointer;
}
.mapboxgl-popup {
  z-index: 3500;
}
.mapboxgl-popup-content {
  padding: 10px 15px;
  border-radius: 1rem;
  font-size: .9rem;
}
.mapboxgl-control-container > * {
  z-index: 5000;
}
/* About View */
.main-about-view {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.main-about-view header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-about-view header > * {
  margin-right: 10px;
}
.logo {
  height: calc((1.625rem + 4.5vw) * 1.2 + .875em);
}
.version {
  padding: 0 !important;
}
/* the darkside... */
@media (prefers-color-scheme: dark) {
  /* Global Style */
  * {
    color: white;
  }
  body,#root {
    background-color: rgb(18,18,18);
  }
  .btn,.btn:hover, .btn * {
    color: rgb(1,132,255);
  }
  h1 {
    color: #eee !important;
  }
  .notifs-container {
    background-color: rgba(18,18,18,0.9);
  }
  .ptr--text {
    color: rgba(255,255,255,0.7) !important;
  }
  .ptr--icon {
    color: rgba(255,255,255,0.7) !important;
  }
  .tab * {
    color: rgb(70, 70, 70);
  }
  .tab.active * {
    color: rgb(43, 219, 110);
    font-weight: bold;
  }
  .tabs {
    background-color: transparent;
    backdrop-filter: blur(25px) brightness(0.2);
    -webkit-backdrop-filter: blur(25px) brightness(0.2);
    border-top: 1px solid #55555555;
    background-color: #ffffff11;
  }
  .view-header-top {
    border-bottom: 1px solid #55555555;
    background-color: #ffffff11;
    backdrop-filter: blur(50px) brightness(0.1);
    -webkit-backdrop-filter: blur(50px) brightness(0.1);
  }
  /* Globan Mapbox Style */
  .mapboxgl-popup-content {
    background-color: #444 !important;
  }
  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: #444 !important;
  }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: #444 !important;
  }
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #444 !important;
  }
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #444 !important;
  }
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #444 !important;
  }
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #444 !important;
  }
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    border-bottom-color: #444 !important;
  }
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    border-top-color: #444 !important;
  }
}